@media (max-width: 500px) {
  .main-content {
    flex-direction: column;
    gap: 20px;
  }
  .panel {
    max-width: 100%;
  }
  .panel-box {
    padding: 41px 25px;
  }
  .panel-img {
    width: 108px;
    height: 108px;
    margin-bottom: 33px;
  }
  .panel-name {
    font-size: 25px;
    line-height: 22px;
  }
  .panel-mail {
    font-size: 16px;
    line-height: 21px;
    margin-block: 8px 49px;
  }
  .panel ul li {
    font-size: 25px;
    line-height: 21px;
  }
  .panel ul li a {
    padding-block: 28px;
  }
  .panel ul li:last-child .panel-bg {
    height: 97px;
    width: 25px;
    right: -25px;
  }
  .panel ul li:last-child .panel-bg::after {
    content: "";
    display: block;
    border-radius: 0 25px 0 0;
    bottom: -1.6px;
  }
  .panel ul li:last-child .panel-bg::before {
    width: 26px;
    height: 16px;
    top: -1px;
    right: 0;
  }
  .panel-bg {
    height: 97px;
    width: 25px;
    right: -25px;
  }
  .panel-bg::before, .panel-bg::after {
    display: block;
    width: 26px;
    height: 16px;
  }
  .panel-bg::before {
    top: -1.5px;
    right: 0.4px;
    border-radius: 0 0 25px 0;
  }
  .panel-bg::after {
    border-radius: 0 25px 0 0;
    bottom: -1.3px;
  }
  .admin-list {
    margin-top: 20px;
    grid-template-columns: 1fr;
    grid-auto-rows: 200px;
    gap: 20px;
  }
  .admin-head {
    font-size: 20px;
    line-height: 45px;
    padding-block: 13px;
  }
  .stat {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .stat-ava {
    max-width: 262px;
    width: 100%;
    margin: 0 auto;
  }
  .stat-ava__block {
    height: 192px;
    max-width: 100%;
    margin-bottom: 15px;
    border-radius: 21px;
  }
  .stat-info {
    border-radius: 13px;
  }
  .stat-info__head {
    margin-bottom: 18px;
  }
  .stat-info__title {
    font-size: 18px;
    line-height: 12px;
  }
  .stat-info__val {
    font-size: 13px;
    line-height: 12px;
  }
  .stat-info ul {
    font-size: 13px;
  }
  .stat-info ul:not(:last-child) {
    margin-bottom: 22px;
  }
  .stat-info ul li:not(:last-child) {
    margin-bottom: 13px;
  }
  .stat-tab {
    padding: 14px 18px;
    border-radius: 18px;
    font-size: 22px;
  }
  .stat-tab:nth-child(2) {
    margin-top: 20px;
    font-size: 18px;
  }
  .stat-add {
    margin-top: 20px;
    height: 176px;
  }
  .stat-num {
    font-size: 22px;
    margin-top: 7px;
  }
  .sub-list {
    grid-template-columns: 1fr;
    gap: 20px;
    grid-auto-rows: 71px;
  }
  .sub-list li:nth-child(2n+1) {
    background-color: var(--blue);
  }
  .sub-list li:nth-child(2n) {
    background-color: var(--theme);
  }
  .user-list {
    display: flex;
    gap: 0;
  }
  .user-list li {
    height: 199px;
  }
  .user-item {
    margin-inline: 17px;
    font-size: 19px;
    padding-inline: 20px;
  }
  .user-nav {
    display: block;
  }
  .user-prev, .user-next {
    border-radius: var(--r-lg);
    background-color: var(--white);
    border: 1px solid var(--blue);
    box-shadow: 0 0 0 7px var(--white);
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  .user-prev::before, .user-next::before {
    content: url("../../image/access/ArrowBlue.svg");
    height: 20px;
  }
  .user-prev:hover, .user-next:hover {
    background-color: var(--theme);
    border-color: var(--theme);
  }
  .user-prev:hover::before, .user-next:hover::before {
    content: url("../../image/access/ArrowLight2.svg");
  }
  .user-prev.swiper-button-disabled, .user-next.swiper-button-disabled {
    background-color: var(--white);
    border-color: var(--blue-50);
  }
  .user-prev.swiper-button-disabled::before, .user-next.swiper-button-disabled::before {
    content: url("../../image/access/ArrowBlue.svg");
    opacity: 0.5;
  }
  .user-next {
    right: 0;
  }
  .user-next::before {
    transform: rotate(180deg);
  }
  .add-item {
    border-radius: 27px;
  }
  .add-item.sm::before {
    width: 62px;
    height: 62px;
    font-size: 40px;
    border-radius: 7px;
  }
}