@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --theme: #272932;
  --blue: #4D7EA8;
  --blue-50: #247ba086;
  --blue-2: #3C99C1;
  --blue-3: #B6C2D9;
  --black: #000000;
  --black-50: rgb(0,0,0, 50%);
  --black-85: rgb(0,0,0,85%);
  --dark: #444444;
  --dark-2: #272932;
  --dark-3: #606060;
  --green: #75AC00;
  --gray: #D9D9D9;
  --gray-2: #5F5F5F;
  --gray-3: rgb(95,95,95, 50%);
  --gray-4: #828489;
  --gray-5: #888888;
  --red: #FF0000;
  --white: #FFFCFF;
  --white-20: rgb(255,255, 255, 20%);
  --white-50: rgb(255,255, 255, 50%);
  --white-70: rgb(255,255, 255, 70%);
  --r-tn: 5px;
  --r-sm: 10px;
  --r-sm-15: 15px;
  --r-sm-2: 20px;
  --r-lg: 50%;
  --r-lg-1: 30px;
  --r-lg-2: 100px;
  font-size: 15px;
  --fs-tn: 0.6666rem;
  --fs-tn-1: 1rem;
  --fs-md: 1.333rem;
  --fs-md-2: 1.562rem;
  --fs-md-3: 1.666rem;
  --fs-lg: 2rem;
  --fs-lg-2: 2.666rem;
  --fs-lg-3: 3.333rem;
  --fs-lg-4: 2.333rem;
  --lh-std: 1rem;
  --lh-tn-1: 20px;
  --lh-1: 35px;
  --lh-2: 40px;
  --lh-3: 133%;
  --t-1: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
}

.click:active {
  transform: scale(0.95);
}

.hover-opacity:hover {
  opacity: 0.7;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, textarea {
  outline: none;
  border: 0;
  background-color: transparent;
  font-family: "Rubik", sans-serif;
  color: inherit;
}

button {
  cursor: pointer;
}

.box {
  max-width: 1051px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 15px;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.w-full {
  width: 100%;
}

.fs-tiny-1 {
  font-size: var(--fs-tn);
}
.fs-tiny-2 {
  font-size: var(--fs-tn-1);
}
.fs-md-1 {
  font-size: var(--fs-md);
}
.fs-lg-1 {
  font-size: var(--fs-lg);
}

.fw-md {
  font-weight: 500;
}
.fw-ebold {
  font-weight: 800;
}

.lh-1 {
  line-height: 1rem;
}
.lh-sm {
  line-height: 30px;
}
.lh-md {
  line-height: var(--lh-1);
}
.lh-lg {
  line-height: var(--lh-2);
}
.lh-tn-1 {
  line-height: 20px;
}
.lh-4 {
  line-height: 133%;
}

.r-tiny {
  border-radius: var(--r-tn);
}
.r-sm {
  border-radius: var(--r-sm);
}
.r-lg {
  border-radius: var(--r-lg);
}

.btn {
  background-color: var(--white);
  padding: 6px 9px;
}

.c-white {
  color: var(--white);
}
.c-white-05 {
  color: var(--white-50);
}
.c-black {
  color: var(--black);
}
.c-black-05 {
  color: var(--black-50);
}

.bg-theme {
  background-color: var(--theme);
}
.bg-blue {
  background-color: var(--blue);
}
.bg-white {
  background-color: var(--white);
}
.bg-green {
  background-color: var(--green);
}

.tran-tn {
  transition: all 0.6s var(--t-1);
}
.tran-std {
  transition: inherit;
}

.uppercase {
  text-transform: uppercase;
}

#video-box {
  position: relative;
  overflow: hidden;
}
#video-box::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.145);
  transition: all 0.6s var(--t-1);
}
#video-box.active::before, #video-box.active::after {
  display: none;
}

video {
  min-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}