body {
    background-color: var(--theme);
    &.stuck {
        overflow: hidden;
    }
}

//Content style

//Шапка
.header {
    &-content {
        gap: 101px;
        padding-block: 14px;
    }
    &-mobile {display: none;}
}
.mobile {
    &-learn {display: none;}
    &-menu {display: none;}
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.33);
    z-index: 90;
    opacity: 0;
    pointer-events: none;
    transition: all .4s var(--t-1);
    &.active {
        opacity: 1;
        pointer-events: all;
    }
}
//Шапка end

// Навигация
.nav {
    & ul {
        gap: 100px;
        font-weight: 300;
        color: var(--white-50);
    }
    & a {
        transition: all .3s var(--t-1);
        display: block;
        &::after {
            content: '';
            margin-top: 2px;
            height: 1px;
            width: 0;
            display: block;
            background-color: var(--white);
            transition: inherit;
        }
        &:hover {
            color: var(--white);
            &::after {width: 100%;}
        }
    }
}
// Навигация end

// Banner
.banner {
    padding-top: 51px;
    position: relative;
    &-box {position: relative;z-index: 20;}
    &-btn {padding: 5px 22px; display: inline-block;}
    &-title {
        margin-bottom: 32px;
        max-width: 491px;
    }
    &-tabs {
        margin-top: 45px;
        gap: 25px;
    }
    &-tab {
        padding: 25px;
        gap: 50px;
        max-width: 362px;
        &:last-child {max-width: 128px;}
        position: relative;
    }
    &-bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}
.green-tool {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 7px;
    height: 7px;
}
.circle {
    position: absolute;
    z-index: -1;
    right: 56px;
    top: 50px;
}
// Banner end

//Video
.video {
    background-image: url('../image/bg-section-2.png');
    background-size: 100% 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-top: -90px;
    padding-block: 204px 78px;
    &-title {
        max-width: 607px;
        margin-bottom: 30px;
    }
    &-items {gap: 99px;}
    &-item {
        position: relative;
        height: 223px;
        max-width: 461px;
        width: 100%;
        cursor: pointer;
        &::before {
            content: '';
            background-image: url('../image/icon/play.svg');
            background-size: cover;
            width: 45px;
            height: 45px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
//Video end

//Train
.train {
    padding-block: 40px 85px;
    background-image: url('../image/bg-section-3.png');
    background-size: 100% 50%;
    background-position: bottom;
    background-repeat: no-repeat;
    overflow: hidden;
    &-content {position: relative;}
    &-title {
        margin-bottom: 40px;
        max-width: 473px;
    }
    &-items {padding-inline: 49px;}
    &-title, &-items {
        position: relative;
        z-index: 10;
    }
    &-item {
        padding: 25px 13px 25px 25px;
        &:first-child {max-width: 473px;}
        &:last-child {
            margin-left: auto;
            margin-right: 0;
            max-width: 651px;
        }
        &:not(:last-child) {margin-bottom: 30px;}
        &__text {margin-block: 10px;}
        &.double {
            & .train {
                &-item {
                    &__title, &__text {max-width: 411px;}
                    &__text {margin-bottom: 20px;}
                }
            }
        }
    }
    &-list {
        & li {
            display: flex;
            align-items: center;
            gap: 25px;
            color: var(--black-85);
            font-size: var(--fs-md);
            &:not(:last-child) {margin-bottom: 13px;}
            & .num {
                color: var(--white);
                font-size: var(--fs-tn);
                width: 22px;
                height: 22px;
                border-radius: var(--r-lg);
                background-color: var(--blue);
                display: flex;
                place-items: center;
                justify-content: center;
            }
        }
    }
    &-bg {
        position: absolute;
        z-index: 0;
        &-1 {
            top: -60px;
            left: 60px;
        }
        &-2 {
            top: 40px;
            right: -45px;
            & img {max-width: 391px;}
        }
        &-3 {
            bottom: 0px;
            left: -110px;
            & img {max-width: 340px;}
        }
    }
}
//Train end

//Info
.info {
    padding-block: 35px;
    &-title {
        max-width: 805px;
        font-size: var(--fs-lg-4);
        line-height: 135%;
        font-weight: 600;
        margin-bottom: 10px;
    }
    &-subtitle {
        font-size: var(--fs-md-3);
        line-height: 190%;
    }
    & ul {
        margin-top: 30px;
        & li {
            padding: 25px 33px 36px 30px;
            background-color: var(--white);
            border-radius: var(--r-sm);
            display: flex;
            gap: 30px;
            max-width: 796px;
            position: relative;
            &:not(:last-child) {margin-bottom: 30px;}
            &:nth-child(2n+1) {       
                &::after {
                    content: url('../image/info/way/info-1.svg');
                    position: absolute;
                    left: 99%;
                    bottom: 0;
                    margin-bottom: -39px;
                }
            }
            &:nth-child(2n) {
                margin-inline: auto 0;
                &::before {
                    content: '';
                    position: absolute;
                    right: 99%;
                    bottom: 0;
                    margin-bottom: -39px;

                }
            }
            &:nth-child(2) {&::before {content: url('../image/info/way/info-2.svg');}}
            &:nth-child(3) {&::after {content: url('../image/info/way/info-3.svg');} max-width: 635px;}
            &:nth-child(4) {&::before {content: url('../image/info/way/info-4.svg');} max-width: 660px;}
            &:nth-child(5) {&::after {content: url('../image/info/way/info-5.svg');}}
            &:nth-child(6) {&::before {content: url('../image/info/way/info-6.svg');} max-width: 700px;}
            &:nth-child(7) {&::after {content: url('../image/info/way/info-7.svg');} max-width: 646px;}
            &:last-child {max-width: 656px;}
        }
    }
    &-item {
        &__title {
            font-size: var(--fs-md);
            line-height: 225%;
            color: var(--blue);
            font-weight: 500;
            margin-bottom: 20px;
        }
        &__text {
            font-size: var(--fs-tn-1);
            line-height: 166%;
            color: var(--black-85);
        }
    }
}
//Info end

//Access
.access {
    background-image: url('../image/access/access-bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding-block: 25px 70px;
    &-title {
        max-width: 393px;
        font-size: var(--fs-lg);
    }
    &-items {
        padding-inline: 50px;
        display: grid;
        gap: 20px;
        grid-template-columns: .5fr .5fr;
        margin-top: 40px;
        & .num {color: var(--blue);}
    }
    & li {
        & .access-slide__box {
            background-color: var(--white);
            padding: 25px 13px 13px 25px;
            border-radius: var(--r-sm);
        }
    }
    &-item {
        &__title {
            padding-block: 30px 20px;
            font-size: 25px;
            line-height: var(--lh-2);
            font-weight: 600;
        }
        &__text {
            color: var(--black-50);
        }
    }
    &-nav {display: none;}
}
//Access end

//Comm
.comm {
    padding-block: 40px 60px;
    &-title {
        font-size: 40px;
        line-height: 46px;
        font-weight: 700;
        margin-bottom: 39px;
    }
    &-img {
        margin-bottom: 33px;
        width: 92px;
        height: 92px;
        border-radius: var(--r-tn);
        background-color: var(--gray);
    }
    &-text {
        font-size: var(--fs-md);
        font-weight: 600;
        line-height: 27px;
    }
    &-swiper {
        max-width: 812px;
        margin: 0 auto;
        position: relative;
    }
    &-slide {
        opacity: 0 !important;
        height: 296px;
        &.swiper-slide-active {opacity: 1 !important;}
    }
    &-next, &-prev {
        width: 60px;
        height: 60px;
        border-radius: var(--r-lg);
        display: grid;
        place-items: center;
        border: 1px solid var(--white-50);
        cursor: pointer;
        background-color: var(--theme);
        box-shadow: 0 0 0 10px var(--theme);
        position: absolute;
        z-index: 10;
        top: 0;
        bottom: 0;
        margin-block: auto;
        transition: all .3s var(--t-1);
        &::before {
            content: url("../image/icon/Arrow.svg");
            opacity: .5;
        }
        &:hover {
            background-color: var(--blue);
            border-color: var(--blue);
            &::before {opacity: 1;}
        }
        &.swiper-button-disabled {
            border-color: var(--white-20) !important;
            background-color: var(--theme);
            &::before {
                opacity: .2 !important;
            }
        }
    }
    &-next {
        transform: rotate(180deg);
        right: -30px;
    }
    &-prev {left: -30px;}
    & ul {
        & li {
            padding: 33px 70px;
        }
    }
}
//Comm end

//Last
.last {
    background-image: url('../image/last/last-bg.png');
    background-position: bottom;
    background-size: 100% 47%;
    background-repeat: no-repeat;
    padding-bottom: 42px;
    &-title {
        max-width: 640px;
        margin: 0 auto;
        font-size: var(--fs-lg);
        font-weight: var(--lh-1);
        font-weight: 600;
        margin-bottom: 40px;
    }
    &-block  {
        padding: 40px 53px;
        border-radius: var(--r-sm);
        max-width: 828px;
        margin: 0 auto 60px;
        & a {
            display: block;
            line-height: 35px;
            font-size: 20px;
            padding-block: 18px;
            width: 100%;
            text-align: center;
            border-radius: var(--r-sm);
        }
    }
    &-item {
        border-radius: var(--r-sm);
        padding: 25px;
        &:first-child {margin-bottom: 40px;}
        &__title {
            font-size: var(--fs-md);
            font-weight: 500;
            line-height: var(--lh-1);
            margin-bottom: 20px;
        }
        & ul {
            & li {
                font-size: var(--fs-tn-1);
                line-height: var(--lh-tn-1);
                &:not(:last-child) {margin-bottom: 15px;}
            }
        }
    }
    &-price {
        font-size: 25px;
        line-height: 35px;
        font-weight: 600;
        margin-top: 20px;
    }
    &-subtitle {
        font-size: var(--fs-tn);
        line-height: var(--lh-1);
        margin-block: 10px;
    }
    &-swiper {
        padding: 20px 45px 20px 55px;
        border-radius: var(--r-sm-2);
        padding-bottom: 109px;
        & .swiper {
            &-pagination {
                bottom: 20px;
                &-bullet {
                    width: 25px;
                    height: 5px;
                    background-color: var(--black);
                    border-radius: 100px;
                }
            }
        }
    }
    &-slide {
        gap: 47px;
        opacity: 0 !important;
        &.swiper-slide-active {opacity: 1 !important;}
        & p {
            font-size: 35px;
            line-height: var(--lh-2);
            font-weight: 500;
        }
        &__left {
            min-width: 340px;
            height: 192px;
            background-color: var(--dark);
        }
    }
    & ul {
        list-style-type: disc;
        padding-left: 20px;
    }
}
//Last end

//Next
.next {
    padding-block: 58px 160px;
    &-title, &-subtitle {line-height: 60px;}
    &-title {font-size: 40px;}
    &-subtitle {font-size: 20px;}
    & ul {
        display: flex;
        gap: 40px;
        margin-block: 50px 42px;
        & li {
            background-color: var(--white);
            border-radius: var(--r-sm);
            height: 190px;
            width: 100%;
            padding-inline: 30px 25px;
            display: flex;
            place-items: center;
            font-size: var(--fs-tn);
            line-height: var(--lh-std);
            font-weight: 500;
            color: var(--black-85);
            &:first-child {
                transform: rotate(5deg);
            }
            &:nth-child(2) {
                transform: rotate(-5deg);
            }
        }
    }
    & a {
        display: block;
        line-height: 70px;
        text-align: center;
        width: 100%;
        border-radius: var(--r-lg-2);
        font-size: var(--fs-md);
        letter-spacing: .3px;
        font-weight: 500;
    }
}
//Next end

//About
.about {
    padding-bottom: 75px;
    &-content {
        background-color: var(--blue);
        border-radius: var(--r-sm-2);
        padding: 10px 39px 0 35px;
        align-items: flex-end;
    }
    & img {vertical-align: top;}
    &-title {
        font-size: var(--fs-lg-2);
        font-weight: 500;
        line-height: 125%;
        max-width: 480px;
        margin-bottom: 20px;
    }
    &-subtitle {
        font-size: var(--fs-lg);
        line-height: 166%;
        margin-bottom: 20px;
    }
    & ul {
        font-size: var(--fs-tn-1);
        line-height: 200%;
        list-style-type: disc;
        padding-left: 20px;
    }
    &-right {
        margin-bottom: 5%;
    }
}
//About end

//Feed
.feed {
    background-image: url('../image/feed/feed-bg.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding-top: 80px;
    &-subtitle {
        line-height: 75%;
        font-size: var(--fs-md);
    }
    &-title {
        font-weight: 600;
        font-size: var(--fs-lg-3);
        line-height: 100%;
    }
    &-swiper {padding-block: 100px 75px;padding-inline: 20px;}
    &-slide {
        background-color: var(--white);
        border-radius: var(--r-sm-2);
        padding: 24px 58px 23px 30px;
        position: relative;
        transition: all 1s var(--t-1);
        &__box {
            display: flex;
            justify-content: space-between;
            width: 100%;
            gap: 100px;
            &.swiper-slide-active {
                & .feed-slide {
                    &:first-child {transform: rotate(-8deg);}
                    &:last-child {transform: rotate(6deg);}
                }
            }
        }
    }
    &-name {
        font-size: var(--fs-md-2);
        font-weight: 500;
    }
    &-sub {
        font-size: var(--fs-tn-1);
        margin-block: 10px 15px;
        font-weight: 500;
    }
    &-text {
        font-size: 10px;
        font-weight: 500;
        line-height: 150%;
    }
    &-img {
        position: absolute;
        width: 97px;
        height: 97px;
        border: 3px solid var(--blue);
        border-radius: var(--r-lg);
        background-color: var(--white);
        right: 35px;
        top: -20px;
    }
    &-right {
        gap: 20px;
        & div {cursor: pointer; height: 24px; transition: all .6s var(--t-1);}
        & .swiper-button-disabled {opacity: .6;}
    }
    &-next {transform: rotate(180deg);}
}
//Feed end

//Quest
.quest {
    padding-block: 60px;
    &-title {
        font-size: var(--fs-lg-3);
        font-weight: 600;
    }
    & ul {
        margin-top: 50px;
        & li {
            border-radius: var(--r-sm);
            background-color: var(--white);
            padding: 17px 20px;
            font-size: var(--fs-md);
            cursor: pointer;
            & .plus {font-size: var(--fs-lg);line-height: 50%; transition: all .3s var(--t-1);}
            &:not(:last-child) {margin-bottom: 30px;}
            &.active {
                & .quest-text {
                    padding-top: 20px;
                    max-height: 1000px;
                }
                & .plus {transform: rotate(45deg);}
            }
        }
    }
    &-text {
        overflow: hidden;
        max-height: 0px;
        line-height: 180%;
        transition: all .6s var(--t-1);
        font-size: 16px;
        color: var(--black-85);
    }
}
//Quest end

//Footer
.footer {
    padding-bottom: 145px;
    &-content {
        padding: 100px;
        background-color: var(--blue);
        border-radius: var(--r-lg-1);
        position: relative;
    }
    &-title {
        font-size: var(--fs-lg-3);
        font-weight: 400;
    }
    &-subtitle {
        color: var(--white-70);
        font-size: var(--fs-md);
    }
    &-online {
        gap: 10px;
        margin-block: 50px 70px;
    }
    &-add {
        &__title {
            font-size: 20px;line-height:100%;
            margin-bottom: 20px;
            color: var(--white-70);
        }
    }
    &-soc {gap: 15px;}
    &-bg {
        position: absolute;
        top: -40px;
        right: -20px;
        max-height: 386px;
        & img {height: 586px;}
    }
}
.cons {
    margin-right: 10px;
    gap: 10px;
    padding: 5px 10px 5px 7px;
    background-color: var(--white);
    border-radius: var(--r-lg-2);
    &-img {
        position: relative;
        background-color: var(--black);
        width: 35px;
        height: 35px;
        border-radius: var(--r-lg);
    }
    &-tab {
        position: absolute;
        background-color: var(--green);
        border-radius: var(--r-lg);
        width: 5px;
        height: 5px;
        top: 0;
        right: 7px;
    }
    &-name {
        font-size: 10px;
        line-height: 133%;
        max-width: 90px;
    }
}
.soc {
    display: grid;
    place-items: center;
    width: 45px;
    height: 45px;
    background-color: var(--white);
    border-radius: var(--r-sm);
}
//Footer end

//Form
form {
    & ul {
        & li {
            & p {
                font-size: 15px;
                line-height: 13px;
                font-weight: 500;
                color: var(--white);
                margin-bottom: 15px;
                text-align: left;
            }
            & input {
                padding: 12px 15px;
                border-radius: 15px;
                border: 1px solid var(--white-50);
                color: var(--white);
                font-size: 20px;
                line-height: 13px;
                &::placeholder {font-weight: 500;}
            }
        }
    }
}
.form {
    &-title {
        font-size: 35px;
        font-weight: 700;
        line-height: 13px;
    }
    &-sub {
        font-size: 20px;
        line-height: 13px;
    }
    &-button {
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 13px;
        padding-block: 19px;
        width: 100%;
        border-radius: var(--r-sm-15);
        position: relative;
        background-color: var(--blue-2);
        box-shadow: 0px 0px 10px var(--blue-2);
        filter: drop-shadow(0px 2px 2px var(--blue-2));
    }
}
//Form end

//Auth
.auth {
    position: fixed;
    display: grid;
    place-items: center;
    z-index: 110;
    top: 0;
    left: 0;
    transition: all .8s var(--t-1);
    transform: translateY(100px);
    width: 100%;
    height: 100%;
    padding-block: 32px;
    pointer-events: none;
    opacity: 0;
    &-box {
        border-radius: 25px;
        background-color: var(--theme);
        padding-block: 82px;
    }
    &-title {margin-bottom: 52px;}
    & ul li {
        &:not(:last-child) {margin-bottom: 40px;}
        & input {
            width: 100%;
        }
    }
    &-form {
        max-width: 410px;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 30px;
    }
    &-pass {
        text-decoration: underline;
    }
    &-button {margin-top: 30px;}
    &.active {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);
    }
}
//Auth end